@import "quasar/src/css/variables";

:root {
  font-family: "Nunito Sans", "Roboto", Helvetica, Arial;
  font-family: "Alethia Pro", sans-serif;

  --font-primary: "Nunito Sans";
  --font-secondary: "Alethia Pro";
}

body {
  font-family: var(--font-primary);
  color: $dark;
  font-size: 16px;
  line-height: 24px;
  min-height: 100dvh;
}

h1 {
  font-size: 64px;
  line-height: 72px;

  @media (max-width: $breakpoint-md) {
    font-size: 48px;
    line-height: 52px;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 32px;
    line-height: 42px;
  }
}

h2 {
  font-size: 36px;
  line-height: 44px;

  @media (max-width: $breakpoint-md) {
    font-size: 32px;
    line-height: 40px;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-size: 24px;
  line-height: 32px;

  @media (max-width: $breakpoint-md) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 18px;
    line-height: 26px;
  }
}

a {
  text-decoration: none;
  color: $dark;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

.text-nav {
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $breakpoint-md) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 12px;
    line-height: 16px;
  }
}

.text-menu {
  font-size: 16px;
  line-height: auto;

  @media (max-width: $breakpoint-md) {
    font-size: 14px;
  }
}

.text-min {
  font-size: 12px;
  line-height: 18px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contained {
  flex-grow: 1;

  max-width: $breakpoint-md;
  padding-left: 40px !important;
  padding-right: 40px !important;

  @media (max-width: $breakpoint-sm) {
    max-width: $breakpoint-sm;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.icon {
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;

  :deep(path) {
    fill: currentColor;
    transition: all 0.2s ease;
  }
}
