@import "quasar/src/css/variables";

:root {
  font-family: "Nunito Sans", "Roboto", Helvetica, Arial;
  font-family: "Alethia Pro", sans-serif;

  --font-primary: "Nunito Sans";
  --font-secondary: "Alethia Pro";
}

body {
  font-family: var(--font-primary);
  min-height: 100dvh;

  font-size: 16px;
  line-height: 24px;

  @media (max-width: $breakpoint-sm) {
    font-size: 14px;
    line-height: 22px;
  }
}

a {
  text-decoration: none;
  color: $dark;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

.layout-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.flex-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contained {
  width: 100%;
  flex-grow: 1;
  max-width: $breakpoint-sm;
  padding-left: 24px !important;
  padding-right: 24px !important;

  @media (min-width: $breakpoint-sm) {
    max-width: $breakpoint-lg;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.page {
  width: 100%;
  height: 100%;
  background-color: $base;
}

.text-body {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  @media (min-width: $breakpoint-xs) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-h1 {
  font-size: 32px;
  line-height: 42px;

  @media (min-width: $breakpoint-xs) {
    font-size: 48px;
    line-height: 52px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 64px;
    line-height: 72px;
  }
}

.text-h2 {
  font-size: 24px;
  line-height: 32px;

  @media (min-width: $breakpoint-xs) {
    font-size: 32px;
    line-height: 40px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 36px;
    line-height: 44px;
  }
}

.text-h3 {
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $breakpoint-xs) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 24px;
    line-height: 32px;
  }
}

.text-nav {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-menu {
  line-height: auto;
  font-size: 14px;

  @media (min-width: $breakpoint-lg) {
    font-size: 16px;
  }
}

.text-min {
  font-size: 12px;
  line-height: 18px;
}

.text-sub {
  font-family: var(--font-secondary);
  font-style: italic;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.main {
  flex-grow: 1;
}

.section {
  position: relative;
  padding-top: 128px;
  padding-bottom: 128px;

  @media (width < $breakpoint-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #efefef;

    &--overlay::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    width: 100%;
  }
}

.lead {
  width: 100%;
  margin-bottom: 64px;

  @media (width < $breakpoint-sm) {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid $border;
  }

  &__index,
  &__text {
    flex-basis: 50%;

    @media (width < $breakpoint-xs) {
      flex-basis: unset;
    }
  }

  &__index {
    margin-right: 16px;
  }

  &__text {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    text-wrap: nowrap;
  }

  &__title {
    padding-right: 16px;
  }

  &__body {
    padding: 48px 0;
    font-family: var(--font-secondary);
    width: 50%;
    margin-left: auto;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.section.hero {
  min-height: 760px;
  color: $base;

  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  @media (width < $breakpoint-sm) {
    min-height: 530px;
  }
}

.section.benefits {
  background-color: #f8f8f8;

  .section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (width <= $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= $breakpoint-xs) {
      padding-top: 0;
      grid-template-columns: 1fr;
    }
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
    padding: 32px;
    border: 8px solid $base;
    background-color: $base;
    border-radius: 12px;
    overflow: hidden;

    &--wide {
      grid-column: span 2;

      @media (width <= $breakpoint-lg) {
        grid-column: span 1;
      }
    }

    &--img {
      background-color: #f5f6fb;
      min-height: 312px;
      padding: 0;

      @media (width <= $breakpoint-xs) {
        max-height: 312px;
      }
    }

    &__img {
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }

    &__header {
      color: #7a7a7a;
    }

    &__title {
      font-family: var(--font-secondary);
      margin-bottom: 16px;
    }
  }
}

.page--home {
  .section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;

    .section__content {
      min-height: 760px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 161px 0;

      @media (width < $breakpoint-sm) {
        min-height: 530px;
        margin-top: 0;
        padding: 24px 0;
      }

      .section__grid {
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;

        @media (width < $breakpoint-md) {
          grid-template-columns: 1fr;
          gap: 0px;
        }
      }

      .grid-item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 0;

        &--last {
          margin-top: auto;
          transform: translateY(100px);

          @media (width < $breakpoint-md) {
            margin-top: 0;
            order: 3;
            transform: translateY(0);
          }
        }

        &__title {
          display: flex;
          align-items: center;
          gap: 16px;
          color: $base-semi;
        }

        &__text {
          color: $base;
        }
      }
    }
  }

  .section.catalog {
    .section__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin-bottom: 64px;

      @media (width < $breakpoint-sm) {
        grid-template-columns: 1fr;
      }
    }

    .catalog__card {
      height: 540px;

      @media (min-width: $breakpoint-lg) {
        height: 600px;
      }
    }
  }

  .section.benefits {
    .grid-item {
      &.order-1 {
        order: 1;
      }

      &.order-2 {
        order: 2;
      }

      &.order-3 {
        order: 3;
      }

      &.order-4 {
        order: 4;
      }

      &.order-5 {
        order: 5;
      }

      &.order-6 {
        order: 6;
      }

      &.order-7 {
        order: 7;
      }

      &.order-8 {
        order: 8;
      }

      @media (max-width: $breakpoint-lg) {
        &.order-3 {
          order: 4;
        }

        &.order-4 {
          order: 3;
        }

        &.order-5 {
          order: 6;
        }

        &.order-6 {
          order: 7;
        }

        &.order-7 {
          order: 5;
        }
      }

      @media (width >= $breakpoint-sm) {
        min-height: 380px;
      }
    }
  }

  .section.distributors {
    background-color: $dark;
    color: $base;

    .lead {
      margin-bottom: 40px;

      &__header {
        border-color: $base-semi;
      }

      &__body {
        margin-left: 0;
      }

      @media (width <= $breakpoint-sm) {
        margin-bottom: 0;
      }
    }

    .section__content {
      padding: 0 24px;
    }

    .section__text {
      column-count: 2;
      padding: 24px 0;
      column-gap: 32px;

      @media (width < $breakpoint-md) {
        column-count: unset;
      }
    }
  }
}

.page--product {
  .section.hero {
    .section__background {
      display: flex;
      justify-content: center;

      &--overlay::after {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .section__background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 53% 80px;

        @media (min-width: $breakpoint-sm) {
          object-fit: none;
          object-position: 51% 60px;
        }
      }
    }

    .section__content {
      align-items: center;

      .category,
      .title,
      .description,
      .price {
        text-align: center;
      }

      .category {
        color: $base-semi;
      }

      .title,
      .price {
        font-family: var(--font-secondary);
      }

      .description {
        font-family: var(--font-primary);
      }
    }
  }

  .section.description {
    .section__content {
      .section__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;

        @media (max-width: $breakpoint-xs) {
          flex-direction: column;
        }

        .grid-item {
          flex-basis: calc(50% - 16px / 2);

          &--wide {
            flex-basis: 100%;

            @media (max-width: $breakpoint-xs) {
              .grid-item__image {
                object-position: 15% 25px;
              }
            }
          }

          @media (max-width: $breakpoint-xs) {
            flex-basis: auto;
          }
        }

        .grid-item--img {
          height: 740px;
          width: 100%;
          overflow: hidden;
          border: 4px solid #f8f8f8;
          border-radius: 12px;

          @media (max-width: $breakpoint-md) {
            height: 480px;
          }

          @media (max-width: $breakpoint-sm) {
            height: 360px;
          }

          .grid-item__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .grid-item.features {
          padding-top: 64px;
          padding-right: 16px;

          @media (width < $breakpoint-sm) {
            padding-right: 0px;
            padding-top: 48px;
          }

          .features__title {
            margin-bottom: 32px;
            font-family: var(--font-secondary);
          }

          .feature__title {
            margin-bottom: 16px;
            font-family: var(--font-secondary);
          }

          .feature__text:not(:last-child) {
            margin-bottom: 32px;
          }
        }

        .grid-item--vid {
          padding-top: 64px;

          @media (width < $breakpoint-sm) {
            padding-top: 24px;
          }

          .video-container {
            display: flex;
            position: sticky;
            top: 90px;
            width: 100%;

            @media (max-width: $breakpoint-xs) {
              flex-direction: column;
              align-items: center;
            }
          }

          .grid-item__video {
            object-fit: cover;
            width: 100%;
            overflow: hidden !important;
            border: 4px solid #f8f8f8;
            border-radius: 12px !important;

            &:not(.grid-item__video--default) {
              height: 800px;

              @media (max-width: $breakpoint-md) {
                height: 480px;
              }
            }

            @media (max-width: $breakpoint-xs) {
              max-width: 360px;
            }
          }
        }
      }

      .section__contact {
        margin-top: 128px;

        @media (width < $breakpoint-sm) {
          margin-top: 64px;
        }
      }
    }
  }

  .section.benefits {
    .lead {
      margin-bottom: 48px;
    }

    .grid-item {
      height: 380px;

      &.order-1 {
        order: 1;
      }

      &.order-2 {
        order: 2;
      }

      &.order-3 {
        order: 3;
      }

      &.order-4 {
        order: 4;
      }

      &.order-5 {
        order: 5;
      }

      &.order-6 {
        order: 6;
      }

      &.order-7 {
        order: 7;
      }

      &.order-8 {
        order: 8;
      }

      &.order-9 {
        order: 9;
      }

      @media (width < $breakpoint-lg) {
        height: 340px;

        &.order-8 {
          display: none;
        }
      }

      @media (width > $breakpoint-xs) and (width < $breakpoint-lg) {
        &.order-3 {
          order: 4;
        }

        &.order-4 {
          order: 3;
        }
      }

      @media (width <= $breakpoint-xs) {
        height: auto;
      }
    }
  }

  .section.specification {
    background-color: $dark;
    color: $base;

    .lead__header {
      border-color: $base-semi;
    }

    .section__content {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 40px;

      @media (width < $breakpoint-lg) {
        flex-direction: column;
      }
    }

    .section-block {
      flex-basis: calc(50% - 32px / 2);
    }

    .section-block__title {
      font-family: var(--font-secondary);
      padding-bottom: 16px;
    }

    .table {
      width: 100%;
      border-collapse: collapse;

      td,
      th {
        text-align: left;
      }

      th {
        color: $base-semi;
      }

      td {
        padding: 16px 16px 16px 0;
      }

      tbody {
        tr:not(:last-child) {
          border-bottom: 1px solid $base-semi;
        }
      }

      &--specification {
        span.quantity {
          color: $base-semi;

          @media (width <= $breakpoint-xs) {
            display: block;
          }
        }
      }

      &--characteristics {
        td:first-child {
          color: $base-semi;
        }
      }
    }
  }
}

.page--privacy-policy {
  padding: 128px 0 64px 0;

  h1,
  h2 {
    font-family: var(--font-secondary);
    padding: 32px 0;
  }

  @media (max-width: $breakpoint-sm) {
    h1,
    h2 {
      padding: 16px 0;
    }
  }
}

.nuxt-icon {
  margin-bottom: 0 !important;
}

.icon {
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;

  :deep(path) {
    fill: currentColor;
    transition: all 0.2s ease;
  }
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.logo__img {
  width: 30px;
  height: 28px;
  margin-right: 10px;
}

.logo__text {
  width: 134px;
  height: 17px;
}

.list--disc {
  list-style-type: disc;
  padding-left: 20px;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
