@import "quasar/src/css/variables";

:root {
  font-family: "Nunito Sans", "Roboto", Helvetica, Arial;
  font-family: "Alethia Pro", sans-serif;

  --font-primary: "Nunito Sans";
  --font-secondary: "Alethia Pro";
}

body {
  font-family: var(--font-primary);
  min-height: 100dvh;

  font-size: 14px;
  line-height: 22px;

  @media (min-width: $breakpoint-md) {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  color: $dark;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

.text-body {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  @media (min-width: $breakpoint-xs) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-h1 {
  font-size: 32px;
  line-height: 42px;

  @media (min-width: $breakpoint-xs) {
    font-size: 48px;
    line-height: 52px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 64px;
    line-height: 72px;
  }
}

.text-h2 {
  font-size: 24px;
  line-height: 32px;

  @media (min-width: $breakpoint-xs) {
    font-size: 32px;
    line-height: 40px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 36px;
    line-height: 44px;
  }
}

.text-h3 {
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $breakpoint-xs) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 24px;
    line-height: 32px;
  }
}

.text-nav {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-menu {
  line-height: auto;
  font-size: 14px;

  @media (min-width: $breakpoint-lg) {
    font-size: 16px;
  }
}

.text-min {
  font-size: 12px;
  line-height: 18px;
}

.text-sub {
  font-family: var(--font-secondary);
  font-style: italic;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contained {
  flex-grow: 1;

  max-width: $breakpoint-sm;
  padding-left: 24px !important;
  padding-right: 24px !important;

  @media (min-width: $breakpoint-sm) {
    max-width: $breakpoint-lg;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.page {
  background-color: $base;
}

.section {
  position: relative;
  padding-top: 128px;
  padding-bottom: 128px;

  @media (max-width: $breakpoint-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #efefef;

    &--overlay::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    width: 100%;
  }
}

.lead {
  width: 100%;

  &__header {
    display: flex;
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid $border;
  }

  &__index,
  &__text {
    flex-basis: 50%;

    @media (min-width: $breakpoint-md) {
      flex-basis: unset;
    }
  }

  &__index {
    margin-right: 16px;
  }

  &__text {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-wrap: nowrap;
  }

  &__body {
    padding: 48px 0;
    font-family: var(--font-secondary);
    width: 50%;
    margin-left: auto;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.section.hero {
  height: 760px;
  color: $base;

  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  @media (max-width: $breakpoint-sm) {
    height: 530px;
  }
}

.benefits {
  background-color: #f8f8f8;

  .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: $breakpoint-md) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 0;
    }
  }

  .section-item {
    flex-basis: calc(100% / 3 - 16px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    min-height: 380px;
    width: 100%;
    padding: 32px;
    background-color: $base;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    overflow: hidden;

    @media (max-width: $breakpoint-sm) {
      flex-basis: 100%;
      min-height: 290px;
    }

    &--wide {
      grid-column: span 2;
    }

    &--img {
      padding: 8px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
      background-color: #f5f6fb;
    }
  }

  .item-header {
    color: #7a7a7a;
  }

  .item-title {
    font-family: var(--font-secondary);
    margin-bottom: 16px;
  }
}

.page--home {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;

    .section__content {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 760px;
      margin-top: 64px;

      @media (max-width: $breakpoint-sm) {
        align-items: center;
        min-height: 530px;
        margin-top: 0;
      }

      .section__grid {
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        padding: 161px 0;

        @media (max-width: $breakpoint-sm) {
          display: flex;
          flex-direction: column;
        }

        @media (max-width: $breakpoint-xs) {
          padding: 64px 0;
        }
      }

      .section-item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 0;

        &--last {
          margin-top: auto;
          transform: translateY(60px);

          @media (max-width: $breakpoint-sm) {
            margin-top: 0;
            order: 3;
            transform: translateY(0);
          }
        }
      }

      .section-item__title {
        display: flex;
        align-items: center;
        gap: 16px;
        color: $base-semi;
      }

      .section-item__text {
        color: $base;
      }
    }
  }

  .catalog {
    .section__content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      margin: 64px 0;

      @media (min-width: $breakpoint-sm) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .catalog__card {
      height: 540px;

      @media (min-width: $breakpoint-lg) {
        height: 600px;
      }
    }
  }

  .benefits {
    .section__content {
      margin-top: 64px;
    }

    .section-item {
      @media (max-width: $breakpoint-md) {
        flex-basis: calc(100% / 2 - 16px / 2);

        &.delivery {
          order: 1;
        }

        &.image-1 {
          order: 2;
        }

        &.warranty {
          order: 3;
        }

        &.payment {
          order: 4;
        }

        &.image-2 {
          order: 5;
        }

        &.support {
          order: 6;
        }

        &.training {
          order: 7;
        }

        &.production {
          order: 8;
        }
      }
    }
  }

  .distributors {
    background-color: $dark;
    color: $base;

    .lead {
      margin-bottom: 40px;

      &__header {
        border-color: $base-semi;
      }

      &__body {
        width: 100%;
      }
    }

    .section-item {
      display: flex;
      padding: 24px 0;
      gap: 32px;

      @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        gap: 0px;
      }

      &__text {
        flex: 1 0 0;
      }
    }
  }
}

.page--product {
  .hero {
    .section__background {
      display: flex;
      justify-content: center;
    }

    .section__background-image {
      object-fit: none;
      object-position: center 20px;

      @media (max-width: $breakpoint-sm) {
        object-fit: cover;
        object-position: center 120px;
      }
    }

    .section__content {
      align-items: center;

      .category,
      .title,
      .subtitle,
      .price {
        text-align: center;
      }

      .category {
        color: $base-semi;
      }

      .title,
      .price {
        font-family: var(--font-secondary);
      }

      .subtitle {
        font-family: var(--font-primary);
      }
    }
  }

  .description .section__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 128px;

    .section-item {
      flex-basis: calc(50% - 16px / 2);
    }

    .section-item--wide {
      flex-basis: 100%;
    }

    .section-item--img {
      height: 740px;
      width: 100%;
      overflow: hidden;
      border: 4px solid #f8f8f8;
      border-radius: 12px;

      @media (max-width: $breakpoint-md) {
        height: 480px;
      }

      @media (max-width: $breakpoint-sm) {
        height: 360px;
      }

      .section-item__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .section-item.features {
      padding-top: 160px;

      .features__title {
        margin-bottom: 32px;
        font-family: var(--font-secondary);
      }

      .feature__title {
        margin-bottom: 16px;
        font-family: var(--font-secondary);
      }

      .feature__text {
        margin-bottom: 32px;
      }
    }
  }

  .section-item.section-item--vid {
    display: flex;
    padding-top: 128px;

    .video-container--rounded {
      position: sticky;
      top: 15px;
      height: 800px;
      margin: 0 auto;
      border-radius: 12px;
      overflow: hidden;
    }

    .section-item__video {
      width: 100%;
      height: 100%;
      border-radius: 12px !important;
    }
  }
}

.specification {
  background-color: $dark;
  color: $base;

  .lead__header {
    border-color: $base-semi;
  }

  .section__content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 40px;
  }

  .section-item {
    flex-basis: calc(50% - 32px / 2);
  }

  .section-item__title {
    font-family: var(--font-secondary);
    padding-bottom: 16px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      text-align: left;
    }

    th {
      color: $base-semi;
    }

    td {
      padding: 16px 0;
    }

    tbody {
      tr:not(:last-child) {
        border-bottom: 1px solid $base-semi;
      }
    }

    &--specification {
      span.quantity {
        color: $base-semi;
      }
    }

    &--characteristics {
      td:first-child {
        color: $base-semi;
      }
    }
  }
}

.icon {
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;

  :deep(path) {
    fill: currentColor;
    transition: all 0.2s ease;
  }
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.logo-img {
  width: 30px;
  height: 28px;
  margin-right: 10px;
}

.logo-text {
  width: 134px;
  height: 17px;
}

.list--disc {
  list-style-type: disc;
  padding-left: 20px;
}
