$breakpoint-xs: 640px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1280px !default;
$breakpoint-xl: 1920px !default;

$accent: #1284a8;
$base: #ffffff;
$base-semi: rgba(255, 255, 255, 0.5);
$border: #d9d9d9;
$dark: #30302d;
$icon: #484848;

.text-base {
  color: $base !important;
}

.text-base-semi {
  color: $base-semi !important;
}

.text-border {
  color: $border !important;
}

.text-dark {
  color: $dark !important;
}

.text-icon {
  color: $icon !important;
}

.bg-base {
  background-color: $base !important;
}

.bg-base-semi {
  background-color: $base-semi !important;
}

.bg-border {
  background-color: $border !important;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-icon {
  background-color: $icon !important;
}
